/* Fonts */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url('font/Roboto-Regular.ttf');
}
@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 400;
	src: url('font/Roboto-Italic.ttf');
}

/* Animations */
@keyframes appear {
	from {
		transform: rotate(-30deg) scale(0, 0);
	}
	from {
		transform: rotate(0deg) scale(0, 0);
	}
}

body {
	font-family: 'Roboto', serif;
}

.block {
	width: 100%;
	padding: 4em 0 16em 0;
}

section {
    margin: 0 auto;
    width: 80%;
}

.block.good {
    background-color: white;
    text-align: center;
}

.block.bad {
    color: white;
    background-color: black;

    border-top: 64px solid transparent;
    border-width: 20px 0px 64px;
    border-image: url("img/border-top.png") 20 0 64 round;

	padding: 4em 0 16em 0;
	text-align: center;
}

.sample {
	margin: auto;
	width: auto;
}

p, h1, h2, h3, h4 {
	text-align: center;
    margin: 20px 0;
}

h1 {
	font-size: 60px;
	-webkit-text-stroke: 2px black;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 22px;
}

p {
	font-size: 18px;
}

.tooltip, .qtip-default {
	background: #202020;
	padding: 8px;
	border-radius: 4px;
	color: white;
	min-width: 100px;
	animation: appear 0.3s;
	transform-origin: 100% 100%;
	border: 0;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
}

.qtip-content::after {
	content: "";
	position: absolute;
	top: 0;
	left: 16px;
	right: 0;
	bottom: 0;
	width: 24px;
	height: 24px;
	background: url("img/info.svg");
	z-index: 5;
}

.tooltip svg {
	position: relative;
	left: -16px;
	bottom: -50px;
}

.tooltip img {
	width: 4em;
	float: left;
	padding: 8px 8px 0 0;
}

.tooltip p {
	margin: 8px;
	padding: 0;
	text-align: justify;
}

.tooltip a, .qtip-content {
	position: relative;
	float: right;
	bottom: 8px;
	right: 8px;
	margin-top: 1em;
	color: white;
	font-size: 125%;
}

.qtip-content {
	width: 50%;
	padding-left: 4em;
}

.icon {
	width: 75px;
	height: 75px;
}

/* Scrollbar */
body::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #202020;
}