/* Fonts */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url('font/Roboto-Regular.ttf');
}
@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 400;
	src: url('font/Roboto-Italic.ttf');
}

body {
	font-family: 'Roboto', serif;
}

.section-wrapper {
    width: 100%;
}

section {
    margin: 0 auto;
    width: 85%;
    max-width: 1000px;
}

.section-wrapper.good-design {
    background-color: white;
}

section.bad-design {
    color: white;
    background-color: black;

    border-top: 64px solid transparent;
    border-width: 20px 0px 64px;
    border-image: url("img/border-top.png") 20 0 64 round;

    padding: 40px 20px;
    padding-bottom: 100%;
}

.sample {
	margin: auto;
}

p, h1, h2, h3, h4 {
	text-align: center;
    margin: 20px 0;
}

h1 {
	font-size: 60px;
	-webkit-text-stroke: 2px black;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 22px;
}

p {
	font-size: 18px;
}

.tooltip {
	background: #202020;
	padding: 8px;
	border-radius: 4px;
	color: white;
	width: 400px;
}

.tooltip svg {
	position: relative;
	left: -16px;
	bottom: -50px;
}

.tooltip img {
	padding: 8px;
	float: left;
}

.tooltip p {
	margin: 8px;
	padding: 0;
	text-align: left;
}

.tooltip a {
	position: relative;
	float: right;
	bottom: 8px;
	right: 8px;
	margin-top: 2em;
	color: white;
}
